.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0px;
}

button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19)
}

button:hover {
  background-color: rgb(20, 145, 194);
}

hr {
  border-top: 2px solid rgb(209, 90, 5);
  ;

}

.form_1 {
  position: relative;
  text-align: center;
  justify-content: center;
  padding: 20px;
  height: 200px;
  width: 500px;
  background-color: rgb(184, 226, 212);
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  font-size: 12px;
}

.form_2 {
  position: relative;
  text-align: center;
  justify-content: center;
  padding: 20px;
  height: 350px;
  width: 500px;
  background-color: rgb(241, 232, 183);
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  font-size: 12px;
}

.outPut {
  background-color: darkcyan;
  margin: 5px;
  padding: 10px;

  color: white;
  border-radius: 5px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}